:root {
    --MainColor: #4553AD;
    --MainWhite: #fff;
    --MainBlack: #333;
    --MainTransform: transform;
    --FontMainColor: #333;
    --FontSubColor: #555;
    --SubGrandTitle: 40px;
    --SubMiddleTitle: 20px;
    --SubSubTitle: 40px;
    --SubContentsTitle: 32px;
    --SubContentsTitle: 20px;
 }


* {margin: 0; padding: 0; text-decoration: none; list-style: none;}
header {
   width: 100%;
   height: 80px;
   padding: 0 30px;
   box-sizing: border-box;
   border-bottom: 1px solid #ccc;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   background-color: var(--MainColor);
}
header ul {
   display: flex;
}
header ul li {
   padding: 0 20px;
}
.container {
   width: 100%;
   height: calc(100vh - 230px);
   background-color: #F9F9F9;
   box-sizing: border-box;
}
footer {
   width: 100%;
   height: 150px;
   box-sizing: border-box;
   border-top: 1px solid #ccc;
   background-color: palegreen;
}
.swiper {
   width: 600px;
   height: 300px;
}