@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* Material Icons 및 Outlined 스타일을 @import로 추가 */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');



body {
    font-family: "Noto Sans KR", sans-serif;
}

.Sub302__content_container {
    width: 100%;
    margin: 0 auto;
    max-width: 1920px;
}

/* 헤더 */
.Sub302__content_header {
    padding: 120px;
}

.Sub302__content_header h1 {
    padding: 50px 0 20px 0;
    font-size: 40px;
    line-height: 54px;
    font-weight: 600;
    color: var(--FontMainColor);
}

.Sub302__content_header p {
    font-size: 20px;
    line-height: 36px;
    color: var(--FontSubColor);
    word-break: keep-all;
}



/* 필터 검색 창 */

.Sub302__search_FieldContainer {
    background-color: #F7F7F7;
    font-size: 20px;
    line-height: 36px;
    color: var(--FontSubColor);
    word-break: keep-all;
}

.Sub302__mainField {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}

.Sub302__searchbarField {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}

.Sub302__filterField {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    line-height: 36px;
    color: var(--FontSubColor);
    word-break: keep-all;

}

.Sub302__mainField p {
    text-align: left;
    font-weight: 600;
    padding: 100px 0px 30px 10px;

}

.Sub302__searchField p {
    text-align: left;
    font-weight: 600;
    padding: 50px 0px 30px 10px;
}

.Sub302__selects {
    width: 100%;
    margin: 0 auto;

}

.Sub302__select1,
.Sub302__select2,
.Sub302__select3 {
    width: 90%;
    padding: 18px 10px;
    font-size: 20px;
    line-height: 36px;
    color: var(--FontSubColor);
    word-break: keep-all;
    border-radius: 15px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Sub302__filterField p {
    padding: 100px 0px 0px 15px;
    text-align: left;
}

.Sub302__searchField {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.Sub302__search_container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 5px 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 95%;
    margin: 0 auto;
}

.Sub302__search_input {
    flex: 1 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 15px 10px;
    border-radius: 50px;
}

.Sub302__search_input::placeholder {
    color: #aaa;
}

.Sub302__search_button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    transition: background-color 0.2s ease;
}

.Sub302__search_button:hover {
    background-color: #f0f0f0;
}

.search_button svg {
    color: #555;
}

/* 검색 결과 화면 */
.Sub302__resultField {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
    line-height: 36px;
    color: var(--FontSubColor);
    word-break: keep-all;
}

.Sub302__resultField p {
    width: 100%;
    padding: 60px 0;
}

.Sub302__map {
    width: 100%;
    height: 717px;
    /* 임시값 */
    background-color: blue;
    margin-bottom: 120px;
}


@media screen and (max-width: 1320px) {

    .Sub302__resultField,
    .Sub302__searchField,
    .Sub302__mainField {
        width: 90%;
    }

    .Sub302__content_header h1 {
        font-size: 36px;
        line-height: 50px;
    }

    .Sub302__content_header p {
        font-size: 18px;
        line-height: 34px;
    }

    .Sub302__mainField,
    .Sub302__selects,
    .Sub302__searchField,
    .Sub302__search_container,
    .Sub302__resultField {
        font-size: 18px;
        line-height: 34px;

    }

}


@media screen and (max-width: 1000px) {

    .Sub302__resultField,
    .Sub302__searchField,
    .Sub302__mainField {
        width: 70%;
    }

    .Sub302__content_header h1 {
        font-size: 36px;
        line-height: 50px;
    }

    .Sub302__content_header p {
        font-size: 18px;
        line-height: 34px;
    }


    .Sub302__mainField,
    .Sub302__selects,
    .Sub302__searchField,
    .Sub302__search-container,
    .Sub302__resultField,
    .Sub302__select1,
    .Sub302__select2,
    .Sub302__select3 {
        font-size: 18px;
        line-height: 34px;
        width: 90%;
    }

    .Sub302__search_input {
        flex: 1 1;
        border: none;
        outline: none;
        font-size: 18px;
        padding: 10px 6px;
        border-radius: 50px;
    }

    .Sub302__search_container {
        width: 100%;
    }

}

/* ========== 768px 기준 ========== */

@media screen and (max-width: 768px) {

    .Sub302__resultField,
    .Sub302__searchField,
    .Sub302__mainField {
        width: 70%;
    }

    .Sub302__content_header h1 {
        font-size: 32px;
        line-height: 46px;
        margin-bottom: 2px;
    }

    .Sub302__content_header p {
        font-size: 18px;
        line-height: 34px;
    }

    .Sub302__mainField,
    .Sub302__selects,
    .Sub302__searchField,
    .Sub302__search_container,
    .Sub302__resultField,
    .Sub302__select1,
    .Sub302__select2,
    .Sub302__select3 {
        font-size: 14px;
        line-height: 26px;
        width: 90%;
    }

    .Sub302__search_input {
        flex: 1 1;
        border: none;
        outline: none;
        font-size: 14px;
        padding: 10px 6px;
        border-radius: 50px;
    }

    .Sub302__filterField {
        padding: 0px;
    }

    .Sub302__search_container {
        width: 100%;
    }


}

/* ========== 480px 기준 ========== */

@media screen and (max-width: 480px) {

    .Sub302__resultField,
    .Sub302__searchField,
    .Sub302__mainField {
        width: 70%;
    }

    .Sub302__content_header h1 {
        font-size: 26px;
        line-height: 38px;
        margin-bottom: 0px;
    }

    .Sub302__content_header p {
        font-size: 16px;
        line-height: 28px;
    }

    .Sub302__filterField {
        display: flex;
        flex-direction: column;
    }

    select{
        padding-bottom: 20px; /*  */
    }

    .Sub302__selects {
        margin-bottom: 5px;
    }

    .Sub302__mainField p {
        text-align: left;
        font-weight: 600;
        padding: 50px 0px 30px 10px;
    }


    .Sub302__mainField,
    .Sub302__selects,
    .Sub302__searchField,
    .Sub302__search_container,
    .Sub302__resultField {
        font-size: 14px;
        line-height: 26px;
        width: 90%;
    }

    .Sub302__search_input {
        flex: 1 1;
        border: none;
        outline: none;
        font-size: 14px;
        padding: 10px 6px;
        border-radius: 50px;
    }

    

    .Sub302__search_container {
        width: 90%;
    }

    .Sub302__map {
        height: 486px;
        /* 정사각형 */
    }

}